@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.hero-image-default {
  background-image: url("/servicesHero2.svg");
}

.hero-image-mobile {
  background-image: url("/servicesHeroSm.png");
}

@media (max-width: 640px) {
  .hero-image-default {
    background-image: url("/servicesHeroSm.png");
  }
}

.checkBoxSection {
  border-radius: 50px;
}

/* Add this to your global CSS or Tailwind config */
.clip-inward-curve {
  position: relative;
  clip-path: polygon(
    0 0,
    /* Top left corner */ 100% 0,
    /* Top right corner */ 100% 100%,
    /* Bottom right corner */ 50% 60%,
    /* Inward curve point */ 0 100% /* Bottom left corner */
  );
}

/* machines car images */
/* .custom-horizontal-gap {
  column-gap: 10rem; 
} */
